*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin-top: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color:#015dca;

}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.caja__trasera{
    width: 95%;
    height: 20%;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color:#61b7cc;
    backdrop-filter: blur(1px);
    box-shadow: 0.8rem 0.9rem 0.5rem rgba(0,0,0,0.1);
}

.caja__trasera div{
    margin: 70px 40px;
    color: white;
}

.caja__trasera div h3{
    font-weight: bold;
    text-align: center;
    font-size: 2.1rem;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera-register{
    width: 55%;
    gap: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*FORMULARIOS*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background-color: white;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #8B5E1C;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    border: none;
    margin: auto;
    font-size: 14px;
    background:rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    outline: none;
}

.contenedor__login-register form button a{
    color: rgb(255, 255, 255);
    cursor : pointer;
    outline: none;
}

/*responsives*/
@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /*responsives de fomulario*/
    .contenedor__login-register{
        display: none;
    }

    .contenedor__login-register form{
        position: relative;
    }
}