

#inscribete-button:hover{
    background-color: black;
    color: white;
}

#buttons-nav button{
    display: flex;
    font-weight: bolder;
    background: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#buttons-nav button:hover{
    background-color: rgb(47, 143, 47);
}

#ingreso button{
    background-color: #380;
}

#ingreso button:hover{
    background-color: rgb(63, 172, 0);
}
