footer {
    width: 100%;
    padding: 25px 5%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 100%;
    max-width: 400px;
    height: auto; 
    margin-bottom: 10px;
}

.icons {
    width: 5%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons a{
    text-decoration: none;
}

.icons a i{
    display: flex;
    color: #fff;
    font-size: 1.8rem;
}

@media (max-width: 710px) {
    footer {
        flex-direction: column; 
        align-items: center;
        padding: 25px 5%;
    }

    .icons {
        width: 100%;
        margin-top: 15px;
        justify-content: center;
    }
}
