#group{
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    margin: auto;
}
#group{
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    margin: auto;
}

.cont{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.course-g1, .course-g3{
    width: 100%;
    gap: 55px;
    padding: 55px 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(208, 244, 255, 0.459);
}

.course-g2{
    width: 100%;
    gap: 55px;
    padding: 55px 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.course-g1 h3, .course-g2 h3, .course-g3 h3{
    font-weight: bolder;
}

.course-text1, .course-text2, .course-text3{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.course-g1 img, .course-g2 img, .course-g3 img{
    width: 98%;
}

.course-g1 .course-img1, .course-g2 .course-img2, .course-g3 .course-img3{
    width: 50%;
}

.course-img1 img, .course-img2 img, .course-img3 img{
    border-radius: 10px;
    transition: 0.3s;
}
